.inv-container {
    width: 100%;
    height: 75vh;
}

.inv-body-container {
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: dark lightgray;
}

.inv-body-container::-webkit-scrollbar {
    width: 8px;
}

.inv-body-container::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

.table-body-container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.td-px {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pedidos-container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    margin-left: 1px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: dark lightgray;
}

.reception-list-container {
    width: 100%;
    height: 35vh;
}

.reception-list {
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-left: 1px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: dark lightgray;
}

.mat-list {
    max-height: 300px;
    overflow-y: 'auto';
    border: '1px solid #ccc';
    margin-bottom: '16px';
}
