.tittle-settings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-container {
    display: flex;
    flex-direction: row;
}

.setting-item {
    margin-left: 5px;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Table .THead .text-header {
    text-align: center !important;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.approved {
    color: green;
}

.disapproved {
    color: red;
}

.card-container {
    height: calc(100vh - 200px);
}

.payments-list-container {
    height: calc(100vh - 300px);
    overflow-y: auto;
}

.payments-list-container::-webkit-scrollbar {
    width: 8px;
}

.payments-list-container::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

.payments-table {
    width: 100%;
    border-collapse: collapse;
}

.payments-table-head {
    position: sticky !important;
    top: 0;
}

.pagination-container {
    margin-top: 10px;
}
