.hv-card-primary {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    background-image: none;
    border-radius: 12px;
    border: none rgba(144, 202, 249, 0.145);
    background-color: rgba(18, 38, 63, 0.9);
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
}

.hv-card-primary::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: rgba(18, 38, 63);
    border-radius: 50%;
    top: -125px;
    right: -15px;
    opacity: 0.5;
}

.hv-card-primary::after {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: rgba(18, 38, 63);
    border-radius: 50%;
    top: -85px;
    right: -95px;
}

.hv-card-secondary {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    background-image: none;
    border-radius: 12px;
    border: none rgba(144, 202, 249, 0.145);
    background-color: rgba(44, 97, 162, 0.9);
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
}

.hv-card-secondary::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgba(44, 97, 162);
    border-radius: 50%;
    top: -125px;
    right: -15px;
    opacity: 0.5;
}

.hv-card-secondary::after {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgba(44, 97, 162);
    border-radius: 50%;
    top: -85px;
    right: -95px;
}

.hv-container {
    height: calc(100vh - 200px);
    flex-wrap: wrap;
}
