.clients-container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    margin-left: 1px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: dark lightgray;
}

.bg-gray {
    background-color: #f3f4f6;
}

.clients-container::-webkit-scrollbar {
    width: 8px;
}

.clients-container::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

.content-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.content-wrapper.expanded {
    max-height: 550px;
}

.content-wrapper.collapsed {
    max-height: 0;
}

.presupuestos-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 1px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: dark lightgray;
}

.table-fixed {
    table-layout: fixed;
}

.no-wrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 0.875rem;
}

.small-width {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.table-container {
    width: 100%;
}

.table-body-container {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: dark lightgray;
}

.table-body-container table {
    width: 100%;
}

.fixed-width {
    max-width: 25%;
    white-space: normal;
    overflow: hidden;
}
